// base16 onedark
$base00: #282c34;
$base01: #353b45;
$base02: #3e4451;
$base03: #545862;
$base04: #565c64;
$base05: #abb2bf;
$base06: #b6bdca;
$base07: #c8ccd4;
$base08: #e06c75;
$base09: #d19a66;
$base0A: #e5c07b;
$base0B: #98c379;
$base0C: #56b6c2;
$base0D: #61afef;
$base0E: #c678dd;
$base0F: #be5046;

@mixin noBackground {
  color: $base0C;
  background: none;
}

@mixin withBackground {
  color: $base00;
  background: $base0C;
  padding-top: 3.25px;
}

@font-face {
  font-family: 'Source Han Serif CN';
  font-display: swap;
  src: local('Source Han Serif CN'), local('Source Han Serif SC'), local('SourceHanSerifCN-Regular'), local('SourceHanSerifSC-Regular'),
        url('../fonts/SourceHanSerifCN-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SourceHanSerifCN-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/SourceHanSerifCN-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SourceHanSerifCN-Regular.svg#SourceHanSerifCN') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Code Pro';
  font-display: swap;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
        url('../fonts/SourceCodePro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SourceCodePro-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/SourceCodePro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SourceCodePro-Regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

$fonts: Palatino, Palatino Linotype, Palatino Lt Std, Georgia, 'Source Han Serif CN', 'Songti SC', 'Noto Serif CJK SC', 'Source Han Serif SC', STSong, 'AR PL New Sung', 'AR PL SungtiL GB', NSimSun, SimSun, 'TW\-Sung', 'WenQuanYi Bitmap Song', 'AR PL UMing CN', 'AR PL UMing HK', 'AR PL UMing TW', 'AR PL UMing TW MBE', PMingLiU, MingLiU, serif;
$code-fonts: 'Source Code Pro', 'Lucida Console', Monaco, 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', monospace;