$base00: #282c34;
$base01: #353b45;
$base02: #3e4451;
$base03: #545862;
$base04: #565c64;
$base05: #abb2bf;
$base06: #b6bdca;
$base07: #c8ccd4;
$base08: #e06c75;
$base09: #d19a66;
$base0A: #e5c07b;
$base0B: #98c379;
$base0C: #56b6c2;
$base0D: #61afef;
$base0E: #c678dd;
$base0F: #be5046;

@mixin noBackground {
  color: $base0C;
  background: none;
}

@mixin withBackground {
  color: $base00;
  background: $base0C;
}

/* noto-serif-sc-regular - chinese-simplified */
@font-face {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Serif SC'), local('NotoSerifSC-Regular'),
         url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/noto-serif-sc-v5-chinese-simplified-regular.svg#NotoSerifSC') format('svg'); /* Legacy iOS */
  }

/* source-code-pro-regular - latin */
@font-face {
font-family: 'Source Code Pro';
font-style: normal;
font-weight: 400;
src: url('/fonts/source-code-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
src: local('Source Code Pro'), local('SourceCodePro-Regular'),
        url('/fonts/source-code-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/source-code-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/source-code-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/fonts/source-code-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/source-code-pro-v9-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

$fonts: Baskerville, 'Times New Roman', 'Liberation Serif', 'Noto Serif SC', STFangsong, FangSong, FangSong_GB2312, 'CWTEX\-F', serif;
$h-fonts: Baskerville, Georgia, 'Liberation Serif', 'Noto Serif SC', 'Kaiti SC', STKaiti, 'AR PL UKai CN', 'AR PL UKai HK', 'AR PL UKai TW', 'AR PL UKai TW MBE', 'AR PL KaitiM GB', KaiTi, KaiTi_GB2312, DFKai-SB, 'TW\-Kai', serif;
$code-fonts: 'Source Code Pro', 'Lucida Console', Monaco, 'Kaiti SC', STKaiti, 'AR PL UKai CN', 'AR PL UKai HK', 'AR PL UKai TW', 'AR PL UKai TW MBE', 'AR PL KaitiM GB', KaiTi, KaiTi_GB2312, DFKai-SB, 'TW\-Kai', 'Noto Serif SC', monospace;