.theme-dark {
  --bg-color: #{$base00};
  --text-color: #{$base07};
  --code-bg-color: #{$base04};
  --code-text-color: #{#fff};
}

.theme-light {
  --bg-color: #{$base07};
  --text-color: #{$base00};
  --code-bg-color: #{$base05};
  --code-text-color: #{#000};
}
