@import "_predefined.scss";
@import "_normalize.scss";
@import "_animate.scss";
@import "_hover.scss";
@import "_syntax.scss";
@import "_theme.scss";

/* Webkit Scrollbar Customize */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: $base01;
}

::-webkit-scrollbar-thumb {
  background: $base05;

  &:hover {
    background: $base07;
  }
}

html {
  border-top: 2.5px solid $base0C;
}

body {
  max-width: 800px;
  margin: 4em auto 0;
  padding: 1em;
  font: 1em/1.75 $fonts;
  @include color(background-color, --bg-color, $base00);
  @include color(color, --text-color, $base07);
}

h1,
h2,
h3 {
  color: $base0CS;
}

h1 {
  margin-top: 0;
}

p,
div {
  overflow-wrap: break-word;
}

ul,
ol {
  padding-left: 2em;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    @include color(color, --text-color, $base07);
  }

  @include withBackground;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

hr {
  border: 0;
  margin: 2em auto 4em;
  @include color(color, --text-color, $base07);

  &::after {
    content: "· · ·";
    text-align: center;
    display: block;
  }
}

.list {
  list-style-type: none;

  a {
    @include noBackground;
  }
}

.year-group {
  display: flex;

  h2 {
    margin-top: 0;
    opacity: 0.5;
  }

  .list {
    flex: 1;
    margin-top: 3px;
    line-height: 2.5;
  }
}

.list-date {
  opacity: 0.5;
  float: right;
  margin-right: 85px;
}

@media (max-width: 600px) {
  .year-group {
    flex-direction: column;

    .list {
      padding-left: 0;
      margin-top: 0;
    }

    h2 {
      margin: 0;
    }

    .list-date {
      margin-right: 0;
    }
  }
}

/* header and footer areas */
.github-corner:hover .octo-arm {
  animation: octocat-wave 0.5s ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 0.5s ease-in-out;
  }
}

#site-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: $base01;
  opacity: 0.95;
  box-shadow: 3px 0 5px -1px rgba(0, 0, 0, 0.2),
    6px 0 10px 0 rgba(0, 0, 0, 0.14), 1px 0 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

#nav-list {
  margin: 10px auto 10px;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 6px 0;
  }

  a {
    color: $base07;
    @include noBackground;
  }
}

#TableOfContents {
  position: fixed;
  bottom: 56px;
  left: 8px;
  background-color: $base01;
  color: #fff;
  border-radius: 4px;
  opacity: 0.95;
  max-height: 85%;
  max-width: 95%;
  overflow-y: auto;
  display: none;
  z-index: 2;

  a {
    margin-right: 1em;
    color: $base07;
    @include noBackground;
  }

  ul {
    padding-left: 28px;

    li ul {
      padding-left: 8px;
    }
  }
}

#btnTheme {
  padding: 0;
  position: fixed;
  bottom: 2.75px;
  left: 16px;
  z-index: 2;

  &:hover #btnTheme-color {
      fill: #fff;
  }
}

#toggle-toc {
  padding: 0;
  position: fixed;
  bottom: 2px;
  left: 60px;
  z-index: 2;
}

#top {
  padding: 0;
  position: fixed;
  bottom: 2px;
  right: 16px;
  display: none;
  z-index: 2;
}

#article-date {
  opacity: 0.75;
}

#article-meta {
  margin: 2em 0 2em;
}

#more {
  margin-bottom: 2em;
  display: flex;

  span {
    flex-grow:1;
    flex-basis: 0;

    a {
      @include noBackground;
    }
  }
}

#next {
  text-align: start;
}

#prev {
  text-align: end;
}

footer {
  text-align: center;
  margin: 3em 0 7em;

  a {
    @include noBackground;
  }
}

/* code */
pre {
  padding: 1em;
  overflow-x: auto;

  code {
    font-family: $code-fonts;
    background: none;
    font-size: 85%;
  }
}

code:not([class]) {
  padding: 2px 4px;
  font-family: $code-fonts;
  @include color(background-color, --code-bg-color, $base04);
  @include color(color, --code-text-color, #fff);
}

/* misc elements */
img {
  height: 50%;
  width: 50%;
}

@media (max-width: 720px) {
  img {
    height: 75%;
    width: 75%;
  }
}

iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  margin: 0;
  border-left: 2.5px solid $base0C;
  padding-left: 12px;
}

#orig {
  margin: 1em auto 1.5em;
  display: inline-block;

  a {
    @include noBackground;
  }
}

#cat {
  @include color(fill, --text-color, $base07);
  @include color(color, --bg-color, $base00);
  position:absolute;
  top: 2.5px;
  border: 0;
  right: 0;
}
