@import "_predefined.scss";
@import "_syntax.scss";

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.75;
  font-family: $fonts;
  font-weight: lighter;
  background: $base01;
  color: $base07;
}

h1, h2, h3 {
  font-family: $h-fonts;
  font-weight: lighter;

  &.terms {
    padding-left: 32px;
  }
}

ul,
ol {
  padding-left: 2em;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $base0C;

  &:link,
  &:visited,
  &:active {
    color: $base07;
  }

  &:hover {
  @include withBackground;
  }
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list,
.terms {
  list-style-type: none;

  a {
    border-bottom: none;

    &:hover {
      @include noBackground;
    }
  }
}

.group {
  display: flex;
  flex-direction: row;

  h2 {
    margin-top: 8px;
    font-size: 1.6em;
    opacity: .75;
  }

  .list {
    flex: 1;
    line-height: 2.5;
  }
}

.list-date {
  opacity: .75;
  float: right;
  margin-right: 51px;
}

/* header and footer areas */
.menu {
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    border-bottom: none;
    padding: 5px;

    &:hover {
      @include noBackground;
    }
  }
}

hr {
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(200,204,212,1), rgba(0,0,0,0));
}

.article-meta {
  margin: 2em 0 2em;
  color: $base05;
}

footer {
  text-align: center;
  margin: 3em 0 2em;

  a {
    border-bottom: none;
  }

  a:hover {
    @include noBackground;
  }
}

#TableOfContents {
  position: fixed;
  bottom: 84px;
  right: 16px;
  background-color: $base07;
  color: $base01;
  border-radius: 4px;
  opacity: .95;
  max-width: 80%;
  display: none;
  line-height: 1.5;

  a {
    color: $base01;
  }

  ul {
    margin: 5px;
    padding-left: 4px;

    li ul {
      padding-left: 8px;
    }
  }
}

#toggle-toc {
  position: fixed;
  bottom: 50px;
  right: 8px;
}

#top {
  position: fixed;
  bottom: 16px;
  right: 8px;
  display: none;
}

/* code */
pre {
  padding: 1em;
  overflow-x: auto;

  code {
    font-family: $code-fonts;
    background: none;
    font-size: 85%;
  }
}

code {
  font-family: $code-fonts;
  background: $base04;

  &:not([class]) {
    color: #fff;
  }
}

/* misc elements */
img {
  width: 50%;
  height: 50%;
}

iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;

  .date {
    opacity: .75;
  }
}

blockquote {
  background: $base03;
  margin: 0;
  border-left: 4px solid $base07;
  padding-left: 12px;
}

/* Valine */
#comments-loader {
  text-align: center;

  button {
    font-family: $fonts;
    font-size: 1em;
    color: $base07;

    &:hover {
      color: $base0C;
    }
  }
}

#vcomments {
  * {
    color: $base07;
  }

  a:hover {
    background: none;
  }

  .vsys,
  .vbtn {
  background: $base04;
  }

  .vwrap {
    border-color: $base07;
  }
}

@media (max-width: 480px) {
  .group {
    flex-direction: column;

    .list {
      padding-left: 0;
      margin-top: 0;
    }

    h2 {
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    .list-date {
      margin: 0;
    }
  }
}

@media (max-width: 720px) {
  img {
    height: 75%;
    width: 75%;
  }
}