@import "_predefined.scss";
@import "_sanitize.scss";
@import "_syntax.scss";

html {
  box-shadow: inset 0 4px $KURENAI;
}

body {
  padding: 0 0.75em;
  font: 1em/1.75 $fonts;
  @include color(background-color, --bg-color, $SHIRONERI);
  @include color(color, --text-color, #000);
}

main {
  margin: 4em auto 0;
  max-width: 800px;
  hyphens: auto;

}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h2, h3 {
  margin-left: -16px;
  font-weight: 800;
}

@media (max-width: 880px) {
  h2, h3 {
    margin-left: 0;
  }
}

p,
div {
  overflow-wrap: break-word;
}

ul,
ol {
  padding-left: 1.75em;

  &.list {
    padding-left: 1em;
  }
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    @include color(color, --text-color, #000);
  }

  @include withBackground;
}

nav a {
  @include noBackground;
}

hr {
  border: none;
  margin: 2em auto 4em;
  @include color(color, --text-color, #000);

  &::after {
    content: "· · ·";
    text-align: center;
    display: block;
  }
}

.list {
  list-style-type: none;

  a {
    @include noBackground;
  }
}

.year-group {
  display: flex;

  h2 {
    margin: 0;
    opacity: 0.325;
  }

  .list {
    flex: 1;
    margin-top: 2px;
    line-height: 2;
  }
}

.list-date {
  opacity: 0.5;
  float: right;
  margin-right: 56px;
}

@media (max-width: 800px) {
  .year-group {
    flex-direction: column;

    .list {
      padding-left: 0;
      margin-top: 0;
    }

    .list-date {
      margin-right: 0;
    }
  }
}

/* header and footer areas */
#TableOfContents {
  position: fixed;
  top: 4px;
  left: 8px;
  max-width: 17.5%;
  max-height: 100%;
  line-height: 1.5em;
  font-size: 15px;
  overflow-y: auto;

  ul {
    padding: 0 4px 0 8px;
  }

  ul li ul {
    padding-left: 1em;
  }
}

@media (max-width: 1350px) {
  #TableOfContents {
    display: none;
  }
}

.post-meta {
  margin-bottom: 2em;
  opacity: 0.6;
  font-size: 15px;

  svg {
    margin-right: 6px;
  }
}

#post-date {
  margin-right: 6px;
}

#site-nav {
  display: inline;

  a {
    margin-right: 5px;
  }
}

.post-nav {
  display: flex;
  flex-wrap: wrap;

  div {
    flex-grow:1;
  }
}

.next {
  margin: 0 0.5em 0.25em 0;
  text-align: start;
}

.arrow-left::before {
  content: "⇦ ";
}

.prev {
  margin: 0 0 0.25em 0.5em;
  text-align: end;
}

.arrow-right::after {
  content: " ⇨";
}

footer {
  text-align: center;
  margin: 4em 0 2em;
  font-size: 15px;

  a {
    @include noBackground;
  }
}

/* code */
pre {
  padding: 1em;
  overflow-x: auto;

  code {
    font-family: $code-fonts;
    background: none;
    font-size: 85%;
  }
}

code:not([class]) {
  padding: 2px 4px;
  font-family: $code-fonts;
  border: 1px solid #eee;
  @include color(background-color, --code-bg-color, $SHIRONERI-shade);
  @include color(color, --code-text-color, #000);
}

/* misc elements */
.feather {
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

img {
  display: block;
  max-width: 100%;
  max-height: 800px;
}

blockquote {
  margin: 0;
  border-left: 2.5px solid $HIWAMOEGI;
  padding-left: 12px;
  background-color: #f6f9f1;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100% {transform: rotate(0)};
  20%,60% {transform: rotate(-25deg)};
  40%,80% {transform: rotate(10deg)};
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#disqus_thread {
  max-width: 800px;
  margin: 2em auto 0;
}

#dsqjs #dsqjs-msg a {
  box-shadow: none;
}


.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#home-center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

#home-nav a {
  display: block;
  text-align: center;
}
