<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ if .Params.isCJKLanguage }}
    <link rel="preload" href="/fonts/noto-serif-sc-v5-chinese-simplified-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  {{ end }}
  {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
  {{ if ge (findRE "<pre.*?chroma.*>(.|\n)*?</pre>" .Content ) 1 }}
    {{ with resources.Get "scss/syntax.scss" | toCSS | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}
  {{ end }}
  {{ if ge (findRE "<span.*?math.*?>(.|\n)*?</span>" .Content ) 1 }}
    {{ with resources.Get "scss/katex.scss" | toCSS | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}
  {{ end }}
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//us.avoscloud.com">
</head>

<body>
  {{ block "header" . }}{{ end }}
	{{ block "main" . }}{{ end }}
  {{ partialCached "footer.html" . }}
  {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
</body>

</html>