<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ if or .Params.math .Site.Params.math }}
    {{ with resources.Get "scss/katex.scss" | toCSS | minify }}
    <style>{{ .Content | safeCSS }}</style>
    {{ end }}
    <script defer src="/js/katex/katex.min.js"></script>
    <script defer src="/js/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  {{ end }}
  {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
  {{ if .Params.isCJKLanguage }}
    <link rel="preload" href="/fonts/noto-serif-sc-v5-chinese-simplified-regular.woff2" as="font" type="font/woff2" crossorigin>
  {{ end }}
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//us.avoscloud.com">
</head>

<body>
  {{ block "header" . }}{{ end }}
	{{ block "main" . }}{{ end }}
  {{ partialCached "footer.html" . }}
  {{ if .Params.toc }}
    {{ .TableOfContents }}
    <button id="toggle-toc">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="#c8ccd4" d="M0 0h24v24H0z"/>
          <path fill="#353b45" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </button>
  {{ end }}
  <button id="top">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="#c8ccd4" d="M0 0h24v24H0V0z"/>
        <path fill="#353b45" d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/>
    </svg>
  </button>
  {{ $jquery := resources.Get "js/jquery-3.4.1.min.js" }}
  {{ $main := resources.Get "js/main.js" }}
  {{ $script := slice $jquery $main | resources.Concat "js/bundle.js" | minify | fingerprint -}}
  <script src="{{ $script.RelPermalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
</body>

</html>