{{ define "main" }}
  <main>
    {{ if eq .Title "Posts" }}
    <h1>{{ .Title }}</h1>
    {{ else }}
    <h1>#&nbsp;{{ .Title }}</h1>
    {{ end }}

    <div class="post-meta">
      {{ partialCached "nav.html" . }}
    </div>

    {{ if .Content }}
      {{ .Content }}
    {{ end }}

    {{ range .Pages.GroupByDate "2006" }}
      <div class="year-group">
        <h2>{{ .Key }}</h2>
        <ul class="list">
          {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}<span class="list-date">{{ .Date.Format "Jan 02" }}</span></a></li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </main>
{{ end }}