{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      {{ if (gt .Params.date 0) }}{{ .Date.Format "2006 Jan 02" }}&nbsp;|&nbsp;{{ end }}
      {{ partialCached "nav.html" . }}
    </div>
    {{ if eq .File.Dir "trans/" }}
      <div class="orig">
        <i>本文为翻译，版权归原文作者所有</i><br>
        <br>
        标题 (Title)：{{ .Params.sourceTitle }}<br>
        作者 (Author)：{{ .Params.author }} (<a href="{{ .Params.authorLink }}">@{{ .Params.author }}</a>)<br>
        日期 (Date)：{{ .Params.sourceDate }}<br>
        链接 (Link)：<a href="{{ .Params.sourceLink }}">{{ .Params.sourceLink }}</a>
      </div>
    {{ end }}
    {{ .Content }}
    <div class="post-meta">
      <div class="list">
        {{ with .Params.tags }}
          Tags: {{ range . }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}/">#{{.}} </a>{{ end }}
        {{ end }}
      </div>
      <div>
        License: <a href="https://creativecommons.org/licenses/by-nc/4.0/" rel="nofollow noopener noreferrer" target="_blank">CC BY-NC 4.0</a>
      </div>
    </div>
    <nav class="post-nav">
      {{ $articles := where .Site.RegularPages "Section" .Section }}
      {{ with $articles.Next . }}
        <div class="next"><a href="{{ .RelPermalink }}"><span class="arrow-left"></span> {{ .Title }}</a></div>
      {{ end }}
      {{ with $articles.Prev . }}
        <div class="prev"><a href="{{ .RelPermalink }}">{{ .Title }} <span class="arrow-right"></span></a></div>
      {{ end }}
    </nav>
  </main>
{{ end }}