{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ if (gt .Params.date 0) }}
    <div id="article-date">{{ .Date.Format "2006 Jan 02" }}</div>
  {{ end }}
  {{ if eq .File.Dir "trans/" }}
    <div id="orig">
      <i>本文为翻译，版权归原文作者所有</i><br>
      <br>
      标题 (Title) : {{ .Params.sourceTitle }}<br>
      作者 (Author) : {{ .Params.author }} (<a href="{{ .Params.authorLink }}">@{{ .Params.author }}</a>)<br>
      日期 (Date) : {{ .Params.sourceDate }}<br>
      链接 (Link) : <a href="{{ .Params.sourceLink }}">{{ .Params.sourceLink }}</a>
    </div>
  {{ else }}
    <div id="orig">原文地址：<a href="https://exuanbo.xyz{{ .RelPermalink }}">https://exuanbo.xyz{{ .RelPermalink }}</a></div>
  {{ end }}
  {{ .Content }}
  <div id="article-meta">
    <div class="list">
      {{ with .Params.tags }}
        Tags: {{ range . }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}/"> #{{.}}</a>{{ end }}
      {{ end }}
    </div>
    <div>
      {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
      {{ end }}
    </div>
  </div>
  {{ if and .Site.Params.valine .Params.comment }}
    {{ partialCached "comment.html" . }}
  {{ end }}
{{ end }}