{{ if or .Params.math .Site.Params.math }}
  {{ with resources.Get "scss/katex.scss" | toCSS | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}
  <script defer src="/js/katex/katex.min.js"></script>
  <script defer src="/js/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
{{ end }}
{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>