<script>
  {{- if ge (findRE "\\$\\$(.|\n)+?\\$\\$|\\\\\\((.|\n)+?\\\\\\)|\\\\\\[(.|\n)+?\\\\\\]" .Content) 1 -}}
    {{- "/* inject-inline: /assets/build/js/katex.js */" | safeJS -}}
  {{- end -}}

  {{- if ge (findRE "<img.+?>" .Content) 1 -}}
    {{- "/* inject-inline: /assets/build/js/medium-zoom.js */" | safeJS -}}
  {{- end -}}

  {{- if .Params.comment -}}
    {{- "/* inject-inline: /assets/build/js/disqus.js */" | safeJS -}}
  {{- end -}}
</script>
<script type="module">
  {{- "/* inject-inline: /assets/build/js/instantpage.js */" | safeJS -}}
</script>
