<script>
  {{- if ge (findRE "\\$\\$(.|\n)+?\\$\\$|\\\\\\((.|\n)+?\\\\\\)|\\\\\\[(.|\n)+?\\\\\\]" .Content) 1 -}}
    {{- with resources.Get "build/js/katex.js" -}}
      {{- .Content | safeJS -}}
    {{- end -}}
  {{- end -}}

  {{- if ge (findRE "<img.+?>" .Content) 1 -}}
    {{- with resources.Get "build/js/medium-zoom.js" -}}
      {{- .Content | safeJS -}}
    {{- end -}}
  {{- end -}}

  {{- if .Params.comment -}}
    {{- with resources.Get "build/js/disqus.js" -}}
      {{- .Content | safeJS -}}
    {{- end -}}
  {{- end -}}
</script>
<script type="module">
  {{- with resources.Get "build/js/instantpage.js" -}}
    {{- .Content | safeJS -}}
  {{- end -}}
</script>
