<nav id="site-nav" class="animated slideInUp">
  {{ if .Params.toc }}
    <button class="hvr-forward" id="toggle-toc" aria-label="toggle table of contents">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path fill="#c8ccd4" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>
    </button>
  {{ end }}
  <ul id="nav-list">
    {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <button class="hvr-float" id="top" aria-label="scroll to top">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0V0z"/>
        <path fill="#c8ccd4" d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/>
    </svg>
  </button>
</nav>
{{ if .Params.toc }}
  <aside>
    {{ .TableOfContents }}
  </aside>
{{ end }}