<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ template "_internal/google_analytics_async.html" . }}
  <meta charset="utf-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/opengraph.html" . }}
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//us.avoscloud.com">
  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ partial "css.html" . }}
  {{ partial "head_custom.html" . }}
</head>

<body>
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    {{ if not .Params.toc }}
    <hr />
    {{ end }}
  </nav>
