<link rel="preload" href="https://ackee.exuanbo.xyz/privacy-respected.js" as="script">

{{ if ge (findRE "\\$\\$(.|\n)+?\\$\\$|\\\\\\((.|\n)+?\\\\\\)|\\\\\\[(.|\n)+?\\\\\\]" .Content) 1 }}
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css"
    as="style"
    onload="this.onload=null,this.rel='stylesheet'"
  >
{{ end }}

{{ if ge (findRE "<img.+?>" .Content) 1 }}
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js" as="script">
{{ end }}

{{ if .Params.comment }}
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqusjs.css"
    as="style"
    onload="this.onload=null,this.rel='stylesheet'"
  >
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqus.js" as="script">
{{ end }}
