<script>
  {{ if ge (findRE "\\$\\$(.|\n)+?\\$\\$|\\\\\\((.|\n)+?\\\\\\)|\\\\\\[(.|\n)+?\\\\\\]" .Content) 1 }}
    loadScript('/js/katex/katex.min.js').then(() => {
      loadScript('/js/katex/contrib/auto-render.min.js').then(() => {
        renderMathInElement(document.body);
      });
    });
  {{ end }}

  {{ if ge (findRE "<img.+?>" .Content) 1 }}
    const imgObserver = new IntersectionObserver(entries => {
      entries[0].isIntersecting && (loadScript('/js/medium-zoom.min.js').then(() => {
        mediumZoom('img', {
          background: 'rgba(0, 0, 0, 0.5)'
        });
      }), imgObserver.disconnect());
    }, {
      threshold: [0]
    });
    imgObserver.observe(document.getElementsByTagName('img')[0]);
  {{ end }}

  {{ if .Params.comment }}
    loadScript('/js/disqus.min.js').then(() => {
      const loadDisqus = () => {
        (() => new DisqusJS({
          shortname: 'exuanbos',
          siteName: 'Exuanbo&#39;s',
          identifier: '{{ .Permalink }}',
          url: '{{ .Permalink }}',
          title: '{{ .Title }}',
          api: 'https://disqus.exuanbo.xyz/',
          apikey: 'BgQNLwMb5CNsHCWWQt0ENC0BHzt1DkszGjBOWiTH5S5MQ7k6WRNeFFUbRULH90L9'
        }))();
      };
      const runningOnBrowser = typeof window !== 'undefined';
      const isBot = runningOnBrowser && !('onscroll' in window) || typeof navigator !== 'undefined' && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
      const supportsIntersectionObserver = runningOnBrowser && 'IntersectionObserver' in window;
      setTimeout(() => {
        if (!isBot && supportsIntersectionObserver) {
          const disqusObserver = new IntersectionObserver(entries => {
            entries[0].isIntersecting && (loadDisqus(), disqusObserver.disconnect());
          }, {
            threshold: [0]
          });
          disqusObserver.observe(document.getElementById('disqus_thread'));
        } else loadDisqus();
      }, 1);
    });
  {{ end }}
</script>
<script src="/js/instantpage.min.js" type="module" defer></script>