{{ define "main" }}
<main class="home">
  <div id="home-center">
    <h1>Exuanbo's</h1>
    <nav id="home-nav"><a href="/posts/">Posts</a><a href="/about/">About</a><a href="https://wiki.exuanbo.xyz" target="_blank">Wiki</a></nav>
  </div>
  <footer>
    &copy;&nbsp;2020&nbsp;<a href="https://exuanbo.xyz">Exuanbo</a>&nbsp;·&nbsp;<a href="/index.xml" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a><a rel="me" href="https://donotban.com/@exuanbo" style="display:none;">Mastodon</a>
  </footer>
</main>
{{ end }}